@import "tailwindcss";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}
body,
html {
  height: 100dvh;
}
#root {
  justify-content: center;
  text-align: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out forwards;
}
